{#
/**
 * @file
 * Theme override for a main view template.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 * - css_name: A CSS-safe version of the view name.
 * - css_class: The user-specified classes names, if any.
 * - header: The optional header.
 * - footer: The optional footer.
 * - rows: The results of the view query, if any.
 * - empty: The content to display if there are no rows.
 * - pager: The optional pager next/prev links to display.
 * - exposed: Exposed widget form/info to display.
 * - feed_icons: Optional feed icons to display.
 * - more: An optional link to the next page of results.
 * - title: Title of the view, only used when displaying in the admin preview.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the view title.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the view title.
 * - attachment_before: An optional attachment view to be displayed before the
 *   view content.
 * - attachment_after: An optional attachment view to be displayed after the
 *   view content.
 * - dom_id: Unique id for every view being printed to give unique class for
 *   Javascript.
 *
 * @see template_preprocess_views_view()
 */
#}
{%
  set classes = [
    'c-view',
    'c-view-' ~ id|clean_class,
    'c-view-' ~ id|clean_class ~ '--' ~ display_id,
    dom_id ? 'js-view-dom-id-' ~ dom_id,
  ]
%}

{{ attach_library('bangachain/view-filters-toggle') }}

<div{{attributes.addClass('l-container')}}>
  {{ title_prefix }}
  {% if title %}
    {{ title }}
  {% endif %}
  {{ title_suffix }}

  {% if attachment_before %}
    {{ attachment_before }}
  {% endif %}

  {% if header %}
    <div class="c-view-header">
      {{ header }}
    </div>
  {% endif %}

  <div class="l-grid l-grid--sidebar-left u-vr__mt--2 u-vr__mb--4">

    <div class="l-grid__main l-main">
      <div{{create_attribute().addClass(classes)}}>
        {{ rows }}
      </div>

      {% if pager %}
        {{ pager }}
      {% endif %}

    </div>

    <div class="l-grid__sidebar l-sidebar">
      {% if exposed %}
        <div class="c-view-filters__toggle u-vr__mb--1 text-center">
          <button class="o-btn o-btn--secondary"><i class="fas fa-filter o-icon--cyan fa-1x"></i> FILTERS</button>
        </div>
        <div class="c-view-filters">
          {{ exposed }}
        </div>
      {% endif %}
    </div>

  </div>
</div>
