{% extends "commerce-product.html.twig" %}

{% block details %}
  <h2 class="u-color__blue-gray">{{ product.field_brand }}</h2>
  <h1 class="u-color__blue">{{ product.title }}</h1>
  {{product.variations}}

  {% if product.field_description|render %}
    <div class="c-product__description">{{ product.field_description }}</div>
  {% endif %}

  {% if product.field_speed|render %}
    <div class="c-product__flight-numbers u-vr__mb--1">
      <h2 class="u-color__blue">{{'Flight Numbers'|t}}</h2>
      <ul class="o-list-inline d-flex justify-content-start">
        <li class="c-product__speed o-list-inline__item u-color__blue" title="Speed">
          <span>Speed</span>
          <span>{{ product.field_speed }}</span>
        </li>
        <li class="c-product__glide o-list-inline__item u-color__blue" title="Glide">
          <span>Glide</span>
          <span>{{ product.field_glide }}</span>
        </li>
        <li class="c-product__turn o-list-inline__item u-color__blue" title="Turn">
          <span>Turn</span>
          <span>{{ product.field_turn }}</span>
        </li>
        <li class="c-product__fade o-list-inline__item u-color__blue" title="Fade">
          <span>Fade</span>
          <span>{{ product.field_fade }}</span>
        </li>
      </ul>
    </div>
  {% endif %}
{% endblock %}

{% block gallery %}
  <div class="c-product__gallery" style="display: flex; flex-direction: column;">
    <div id="gallery-slider" class="splide">
      <div class="splide__track">
        <ul class="splide__list">
          {{ product_gallery_images }}
        </ul>
      </div>
    </div>
    <div id="thumbnail-slider" class="splide">
      <div class="splide__track">
        <ul class="splide__list">
          {{ product_gallery_images }}
        </ul>
      </div>
    </div>
  </div>
{% endblock %}
